.form_container {
  background-image: url("../../assets/Background.webp");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  align-items: center;
}

.form_title {
  color: #FF7B54;
  text-shadow: 2px 2px #FFB26B;
}

.form_label {
  color: #939B62;
  text-shadow: 1px 1px #FF7B54;
}

.shown_temperaments {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  /* position: relative; */
  margin: 0 auto;
}

.delete_button {
  color: white;
  background-color: orangered;
  border: none;
  border-radius: 1rem;
}

.select {
  background-color: #FF7B54;
  border-radius: 2rem;
  color: black;
  font-weight: 600;
  border: none;
}

.return_button {
  background-color: #FFB26B;
  border-radius: 1rem;
  color: black;
  border: none;
  transition: 0.5s;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.return_button:hover {
  /* color: #FFD56F; */
  background-color: #FF7B54;
}

.form_input {
  border-radius: 2rem;
  background-color: bisque;
  border: none;
}

.error {
  color: red;
  text-shadow: 1px 1px black;
}

.form {
  background-color: #FFD56F;
  width: 500px;
  margin: 10px;
  border-radius: 2rem;
}