.card_name {
  color: #939B62;
  text-shadow: 1px 1px #FF7B54;
  font-size: large;
  
}

.card_text {
  color: #939B62;
  text-shadow: 1px 1px #FF7B54;
  font-size: small;
  font-weight: 600;
}

.card_div {
  background-color: #FFD56F;
  width: 280px;
  border-radius: 1rem;
  height: 320px;
  cursor: pointer;
  transition: 0.5s;
}

.card_div:hover {
  background-color: #FFB26B;
  /* box-shadow: 0 0 1rem white, 0 0 4rem white, 0 0 8rem white; */
}

.card_image {
  margin: 5px
}

* {
  text-decoration: none; /* Quita el subrayado de todos los enlaces */
}
